.FullPost {
  opacity: 0;
  margin-top: 15px;
  transition: all 300ms linear;
}

.FullPost.fade-in {
  opacity: 1;
}

.FullPost__title {
  font-size: 2em;
  font-weight: bolder;
  color: var(--black);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.FullPost__date {
  color: var(--gray);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: smaller;
  text-transform: uppercase;
  /* font-weight: bolder; */
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.FullPost__image {
  width: 100%;
  margin-bottom: 5px;
}

.FullPost__buttons {
  width: 100%;
  height: 2.5rem;
  display: flex;
}

.FullPost__button {
  width: 50%;
  background-color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray);
}

.FullPost__button.FullPost__button--edit {
  border-top-left-radius: 4px;
}
.FullPost__button.FullPost__button--delete {
  border-top-right-radius: 4px;
}

.FullPost__body {
  font-family: Georgia, Cambria, Cochin, Times, "Times New Roman", serif;
  font-size: 1.05em;
  line-height: 1.75em;
}

.FullPost__body::first-letter {
  color: var(--gray);
  float: left;
  font-family: Georgia;
  text-transform: uppercase;
  font-size: 5.7em;
  line-height: 0.7em;
  padding-top: 11px;
  padding-right: 8px;
}

/* .FullPost__buttons {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: fixed;
  height: 200px;
  width: 3rem;
  bottom: 1.5rem;
  right: 1.5rem;
}

.FullPost__button {
  width: 3rem;
  height: 3rem;
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  margin-top: 20px;
}

.FullPost__button:hover {
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.FullPost__button--delete {
  width: 2rem;
  height: 2rem;
} */
