.FullPost {
  opacity: 0;
  margin-top: 15px;
  transition: all 200ms linear;
  display: flex;
  flex-direction: column;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

.FullPost.fade-in {
  opacity: 1;
}

.FullPost__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.FullPost__profile {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.FullPost__profile-photo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.FullPost__name-date {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.FullPost__name {
  font-size: 0.75rem;
  font-weight: normal;
  color: var(--gray);
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.FullPost__title {
  font-size: 1.8rem;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--black);
  margin-bottom: 10px;
}
.FullPost__subtitle {
  font-size: 1rem;
  color: var(--black);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}
.FullPost__date {
  color: var(--gray);
  font-size: 0.7rem;
  text-transform: lowercase;
  color: var(--gray);
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.FullPost__image {
  width: 100%;
  margin-bottom: 5px;
}

.FullPost__caption {
  margin-bottom: 20px;
  text-align: right;
  font-size: 0.75rem;
}

.FullPost__image-link {
  color: var(--gray);
  text-decoration: none;
}

.FullPost__options {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-left: auto;
  cursor: pointer;
  transform: scale(1);
  transition: all 75ms ease;
}

@media (min-width: 576px) {
  .FullPost__options {
    width: 20px;
    height: 20px;
    margin-left: auto;
  }
}

.FullPost__options:hover {
  transform: scale(1.07);
}

.FullPost__buttons {
  margin: 5px 0 5px;
  text-align: center;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  transform: rotateX(180deg) scale(0);
  height: 0;
  opacity: 0;
  transition: all 300ms ease;
}

@media (min-width: 576px) {
  .FullPost__buttons {
    justify-content: flex-end;
  }
}

.FullPost__buttons--show {
  transform: rotateX(360deg) scale(1);
  height: auto;
  opacity: 1;
}

.FullPost__button {
  flex: 1;
  margin: 5px;
  padding: 10px;
  border: 2px solid var(--light-gray);
  color: var(--gray);
  border-radius: 9999px;
  font-size: 0.75em;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 200ms ease;
}

@media (min-width: 576px) {
  .FullPost__button {
    flex: none;
    width: 120px;
  }
}

.FullPost__button:hover {
  color: var(--black);
}

.FullPost__button a {
  color: var(--gray);
  transition: all 200ms ease;
}

.FullPost__button:hover a {
  color: var(--black);
}

.FullPost__button--edit:hover {
  border: 2px solid rgb(238, 209, 47);
}

.FullPost__button--delete:hover {
  border: 2px solid rgb(255, 65, 65);
}

/* .FullPost__buttons {
  width: 100%;
  height: 2rem;
  display: flex;
  cursor: pointer;
}

.FullPost__button {
  width: 50%;
  background-color: var(--white);
  color: var(--black);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--black);
  border-bottom: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 200ms linear;
  font-size: 0.75rem;
}

.FullPost__button--edit {
  border-top-right-radius: 0;
  border-top-left-radius: 3px;
  border-right: none;
}
.FullPost__button--edit:hover {
  color: #ffb818;
  border-color: #ffb818;
  border-right-width: 1px;
  border-right-style: solid;
}
.FullPost__button--delete {
  border-top-left-radius: 0;
  border-top-right-radius: 3px;
  border-left: none;
}
.FullPost__button--delete:hover {
  color: #f36767;
  border-color: #f36767;
  border-left-width: 1px;
  border-left-style: solid;
} */

.FullPost__body {
  all: unset;
  /* margin: 0 0 30px; */
  background-color: var(--white);
  color: var(--black);
}

.FullPost__footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 44px;
  margin: 10px 0 0;
  font-size: 16px;
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: var(--gray);
}

.FullPost__footer .container {
  height: 100%;
  display: flex;
  align-items: center;
}

.FullPost__likes {
  width: 50%;
  display: flex;
  justify-content: center;
}

.FullPost__like-symbol {
  margin-right: 5px;
  cursor: pointer;
}

.FullPost__like-symbol:hover {
  animation: 200ms wiggle 1 cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes wiggle {
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
}

.FullPost__comments {
  text-align: center;
  width: 50%;
  cursor: pointer;
}
