.Posts {
  opacity: 0;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  transition: all 200ms linear;
}

.Posts.fade-in {
  opacity: 1;
}

.Posts__no-posts {
  margin-top: 20vh;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Posts__profile-name {
  margin-top: 20px;
  font-size: 0.75rem;
  font-weight: normal;
  color: var(--gray);
  margin-bottom: 20px;
  border-left: 2px solid var(--light-gray);
  padding-left: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
}

.Posts__button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 3rem;
  height: 3rem;
  background: var(--white);
  color: var(--black);
  border: none;
  border-radius: 50%;
  /* box-shadow: var(--box-shadow); */
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2), 0 3px 8px 1px rgba(0, 0, 0, 0.1);

  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
}

.Posts__button:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.1);
}
