.Giphy {
  grid-area: g;
  text-decoration: none;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  font-size: 0.8rem;
}

.Giphy__search {
  display: flex;
  flex-direction: column;
}

.Giphy__form {
  flex: 1;
}

.Giphy__random {
  flex: 1;
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  border-radius: 3px;
  transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  padding: 20px;
  color: var(--gray);
}

.Giphy__random:hover {
  border: 1px solid var(--white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 8px 5px rgba(0, 0, 0, 0.05);
}
.Giphy__random:active {
  border: 1px solid var(--light-gray);
  box-shadow: none;
  transform: scale(0.98);
}

.Giphy__input {
  width: 100%;
  margin-top: 10px;

  border: 1px solid var(--light-gray);
  border-radius: 3px;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  margin-bottom: 10px;
  padding: 20px;
}

.Giphy__input:focus {
  border: 1px solid var(--white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 8px 5px rgba(0, 0, 0, 0.05);
}

.Giphy__images {
  margin-top: 10px;
  opacity: 0;
  transition: all 200ms linear;
  display: flex;
  flex-wrap: wrap;
}

.Giphy__images.fade-in {
  opacity: 1;
}

.Giphy__button {
  height: 150px;
  width: 50px;
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  margin-bottom: 10px;
}

.Giphy__button:active {
  border: 1px solid var(--light-gray);
  background-color: var(--light-gray);
}

.Giphy__mini-image {
  background: var(--black);
  width: 15%;
  flex: 1;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  transition: all 100ms;
}

.Giphy__mini-image:hover {
  transform: scale(1.02);
}

.Giphy__mini-image:active {
  transform: scale(0.98);
}

@media (min-width: 576px) {
  .Giphy__search {
    flex-direction: row;
  }

  .Giphy__form {
    flex: 3;
  }

  .Giphy__random {
    margin: 10px 0 10px 10px;
  }
}
