.UrlPhoto {
  grid-area: g;
}

.UrlPhoto__input {
  width: 100%;
  margin-top: 10px;

  border: 1px solid var(--light-gray);
  border-radius: 3px;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  margin-bottom: 10px;
  padding: 20px;
}

.UrlPhoto__input:focus {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
