:root {
  --black: rgba(0, 0, 0, 0.84);
  --gray: rgba(0, 0, 0, 0.54);
  --light-gray: rgba(0, 0, 0, 0.15);
  --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 22px;
  }
}
