.NotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 75px);
}

.NotFound__code {
  font-size: 3rem;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.NotFound__button {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid var(--gray);
  color: var(--gray);
  transition: all 0.2s ease-in;
}

.NotFound__button:hover {
  border: 1px solid var(--black);
  color: var(--black);
}
