.NewPost.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.NewPost__header {
  font-size: 0.75rem;
  font-weight: normal;
  color: var(--gray);
  margin-bottom: 20px;
  border-left: 2px solid var(--light-gray);
  padding-left: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
}

.NewPost__input {
  border: 1px solid var(--light-gray);
  border-radius: 3px;
  transition: box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  margin-bottom: 10px;
  padding: 20px;
}

.NewPost__input:focus {
  border: 1px solid var(--white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 8px 5px rgba(0, 0, 0, 0.05);
}

.NewPost__input.NewPost__input--title {
  font-size: 2rem;
}
.NewPost__input.NewPost__input--body {
  resize: none;
  min-height: 15rem;
}

.NewPost__buttons {
  display: flex;
}

.NewPost__button {
  flex: 1;
  background: var(--white);
  border: 1px solid var(--gray);
  border-radius: 4px;
  padding: 20px;
  outline: none;
  color: var(--gray);
  transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.NewPost__button--publish:hover,
.NewPost__button--publish:focus {
  border: 1px solid var(--black);
  color: var(--black);
}
.NewPost__button--privacy:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 8px 5px rgba(0, 0, 0, 0.05);
}
.NewPost__button--privacy:active {
  box-shadow: none;
  transform: scale(0.98);
}

.NewPost__button.NewPost__button--privacy {
  margin-right: 5px;
}

.NewPost__button.NewPost__button--publish {
  margin-left: 5px;
}
